<div class="container">
  <h1>Angular Forms</h1>


  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Основная информация</h2>
    <div class="card">
      <div class="form-control">
        <label for="">First Name</label>
        <input type="text" placeholder="First name" formControlName="name">
        <div class="validation" *ngIf="name.invalid && (name.dirty || name.touched)">
          <small *ngIf="name.errors?.['required']">Поле имя не может быть пустым</small>
          <small *ngIf="name.errors?.['minlength']">
            Длина поля {{name.errors?.['minlength'].actualLength}}
            из {{name.errors?.['minlength'].requiredLength}}
          </small>
        </div>
      </div>

      <div class="form-control">
        <label>Email</label>
        <input type="email" placeholder="Email" formControlName="email">
        <div class="validation" *ngIf="email.invalid && email.touched">
          <small *ngIf="email.errors?.['required']">Поле email не может быть пустым</small>
          <small *ngIf="email.errors?.['email']">Введите корректный email</small>
          <small *ngIf="email.errors?.['restricktedEmail']">Emails: 'd@mail.ru', 'd@yandex.ru' запрещены</small>
          <small *ngIf="email.errors?.['uniqEmail']">Emails: 'async@mail.ru' занят</small>
        </div>
      </div>

      <div class="form-control">
        <label>Пароль</label>
        <input type="password" placeholder="Пароль" formControlName="password">
        <div class="validation" *ngIf="password.invalid && password.touched">
          <small *ngIf="password.errors?.['required']">Поле имя не может быть пустым</small>
          <small *ngIf="password.errors?.['minlength']">
            Длина поля {{password.errors?.['minlength'].actualLength}}
            из {{password.errors?.['minlength'].requiredLength}}
          </small>
        </div>
      </div>
    </div>

    <h2>Адрес</h2>
    <div class="card" formGroupName="address">
      <div class="form-control">
        <label>Страна</label>
        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>
      <div class="form-control">
        <input type="text" formControlName="city" placeholder="Город">
      </div>
      <button class="btn" type="button" (click)="setCapital()">Выбрать столицу</button>
    </div>

    <h2>Ваши навыки</h2>
    <div class="card" formGroupName="skills">
      <button class="btn" type="button" (click)="addSkill()">Добавить умение</button>
      <div class="form-control" *ngFor="let skill of skills.controls; let i = index">
        <label>Умение {{i + 1}}</label>
        <input type="text" placeholder="Название умения {{i + 1}}" [formControlName]="i">
        <div class="validation" *ngIf="skill.invalid && skill.touched && skill.errors?.['required']">
          <small>Введите умение {{i + 1}}</small>
        </div>
      </div>
    </div>
    <hr>
    <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Отправить</button>
  </form>
</div>
